@import './var';
@import './mixin';
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:focus {
  outline: none;
}
a {
  text-decoration: none;
}
body {
  font-family: $ff-main;
  color: $clr-body;
  font-size: 1.3rem;
  background-color: $clr-bg;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ff-head;
}

@media (max-width: 768px) {
  html {
    font-size: 54%;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes popUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
